[buildout]
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
package-name = webcouturier.dropdownmenu
test-eggs = webcouturier.dropdownmenu[test]
parts+=omelette
versions = versions

[versions]
# For Plone 3:
Products.CMFPlone = 4.0b1
plone.app.testing = 3.0a1
plone.testing = 3.0a2
unittest2 = 0.5.1

[omelette]
recipe=collective.recipe.omelette
eggs=${instance:eggs}

[test]
recipe = collective.xmltestreport
defaults = ['-v', '-s', '${buildout:package-name}']
eggs =
    ${buildout:package-name}
    ${instance:eggs}
    ${buildout:test-eggs}
